<h1 id='greeting'>Stations in Greater San Francisco</h1>

<a href="/stations/new" method="get">New Station</a>

<table border="1">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Date Installed</th>
    <th>Number of Docks</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% @stations.each do |station| %>
  <tr>
    <td> <a href="/stations/<%= station.id %>"><%= station.name %></a> </td>
    <td> <%= station.city.name %> </td>
    <td> <%= station.installation_date %> </td>
    <td> <%= station.dock_count %> </td>
    <td>
      <form action="/stations/<%= station.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Delete" />
    </td>
    <td>
        <a href="/stations/<%=station.id %>/edit">Edit</a>
    </td>
  </tr>
  <% end %>
 </table>
  
