<h1>Station Dashboard</h1>


<p>Total number of stations in Greater San Francisco <em><%= Station.total_number_of_stations%></em></p>

<p>Average number of bikes available per station <em><%= Station.average_number_of_bikes_available_per_station %></em></p>

<p> Most Bikes available at a station <%=Station.most_bikes_available_at_station%> </p>

<p> Fewest bikes available at a station <%=Station.fewest_bikes_available_at_station%> </p>



<p> Station(s) with maximum amount of  bikes 
  <%=Station.station_with_max_bikes%>
</p>

<p> Station(s) with minimum amount of  bikes 
  <%=Station.station_with_min_bikes%>
</p>

<p> Oldest Station(s) 
  <%=Station.oldest_station%>
</p>

<p> Newest Station(s)
  <%=Station.newest_station%>
</p>
