<div class='maindiv'>
<h1>Trip Dashboard</h1>

<div id = "data">
<table>
  <th>Records Query</th>
  <th style ="text-align:center">Analytics</th>
    <tr>
      <td>Average Duration of a Ride</td>
      <td><em><%= Trip.average_duration_of_ride %></em></td>
    </tr>
     <tr>
      <td>Longest Ride</td>
      <td><em><%= Trip.longest_ride %></em></td>
    </tr> 
    <tr>
      <td>Shortest Ride</td>
      <td><em><%= Trip.shortest_ride %></em></td>
    </tr> 
    <tr>
      <td>Station with the most rides as a starting place.</td>
      <td><em><%=  Trip.station_with_most_starting_rides%></em></td>
    </tr> 
    <tr>
      <td>Station with the most rides as an ending place.</td>
      <td><em><%= Trip.station_with_most_ending_rides  %></em></td>
    </tr> 
    <tr>
      <td>Month by Month breakdown of number of rides with subtotals for each year.</td>
      <td><em><%= Trip.rides_per_month  %></em></td>
    </tr> 
    <tr>
    <td>Most Rides per Year</td>
    <td><em><%=Trip.rides_per_year %></em></td>
    </tr>
    <tr>
      <td>Most ridden bike with total number of rides for that bike.</td>
      <td><em><%=Trip.most_ridden_bike  %></em></td>
    </tr> 
    <tr>
      <td>Least ridden bike with total number of rides for that bike.</td>
      <td><em><%=Trip.least_ridden_bike  %></em></td>
    </tr> 
    <tr>
      <td>User subscription type breakout with both count and percentage.</td>
      <td><em><%=Trip.subscriber_breakout %></em></td>
    </tr> 
     <tr>
      <td>Single date with the highest number of trips with a count of those trips.</td>
      <td><em><%=Trip.most_common_date %></em></td>
    </tr>
     <tr>
      <td>ingle date with the lowest number of trips with a count of those trips</td>
      <td><em><%=Trip.least_common_date %></em></td>
    </tr>
    </table>
</div>