<div class="maindiv">
<h1 id ="heading">Weather Dashboard</h1>

<div id ="data1"
<p> Average number of trips on days between <em> <%= @weathers.average_number_of_rides %> </em> </p>
<p> Maximum trips on days between <em> <%= @weathers.max_number_rides_in_temp_range %> </em> </p>
<p> Minimum trips on days between <em> <%= @weathers.min_number_rides_in_temp_range %> </em> </p>

<p> Average number of trips on days with __ wind in miles <em> <%= @weathers.average_number_of_rides_with_wind %> </em> </p>
<p> Maximum number of trips on days with __ wind in miles <em> <%= @weathers.max_number_of_rides_with_wind %> </em> </p>
<p> Minimum number of trips on days with __ wind in miles <em> <%= @weathers.min_number_of_rides_with_wind %> </em> </p>

<p> Average number of trips on days with __ visibility in miles <em> <%= @weathers.average_number_of_rides_with_visibility %> </em> </p>
<p> Maximum number of trips on days with __ visibility in miles <em> <%= @weathers.max_number_of_rides_with_visibility %> </em> </p>
<p> Minimum number of trips on days with __ visibility in miles <em> <%= @weathers.min_number_of_rides_with_visibility %> </em> </p>
</div>
</div>
